{{!-- <h1>{{appTitle}} 🚀</h1> --}}
{{! <p>Welcome Surfers!</p> }}



  {{!-- Add username so person knows they're logged in  --}}
    

  <div class="homepage indexHeaderImg">

    <div>
    {{#if user}}
       <p class="createHeader">Surf's Up {{user.username}}!</p>
        {{/if}}
     </div>
     </div>

  <div class="allSurfSpots">

    {{#each result}}
    <a href="/surf-spot/profile/{{this._id}}">
      <div class="card">
        <img src="{{this.imageUrl}}" alt="">
       
          <div class="card-body">
            <h5 class="card-title">{{this.beachName}}</h5>
            <h6 class="card-subtitle mb-2">{{this.country}}</h6>
            <p class="card-text">{{this.skillLevel}}</p>
          </div>
        </div>
      </a>
    {{/each}}

  </div>

 
