<h1>Create User Profile</h1>

<form action="/create-user-profile" method="POST">

  {{!-- <label>
    Name: --}}
    {{!-- <input type="text" name="name" value="{{result.username}}"/> --}}
 {{!--  </label>
 --}}
   
   <label for="">
    Image:
  </label>

  <label>
    Surf Level: 
    {{!-- <input type="text" name="author" /> --}}
  {{!--   select / name = Model Name
    each = vairable name from routes --}}
    
    <select name="surfLevel" > 
        {{#each surfingLevel}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
  </label>

<label>
    Type of Surfing: 
    {{!-- <input type="text" name="author" /> --}}
    <select name="typeOfSurfing" multiple>
        {{#each surfingType}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
  </label>





  <label>
    My Favorite Spots:
    <textarea name="favoriteSpots" cols="30" rows="4"> </textarea>
  </label>

  <button type="submit"> Create </button>
</form>