<h1>Create User Profile</h1>

<form action="/user/create-profile" method="POST">

  <label>
    {{#if userInSession}}
      <h2>Welcome {{userInSession.username}}!</h2>
      <p>Please create your profile page</p>
    {{!-- {{else}} --}}

      {{!-- <br /> --}}
      {{!-- <p>Still no logged in user, sorry!</p> --}}
    {{/if}}
  </label>

{{!-- Add upload image field --}}
  <label for="">
    Image*:
  </label>

  <label>
    Surf Level*:
    {{! <input type="text" name="author" /> }}
    {{!   select / name = Model Name
    each = vairable name from routes }}

    <select name="surfLevel">
      {{#each surfingLevel}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>

  <label>
    Type of Surfing*:
    <select name="typeOfSurfing" multiple>
      {{#each surfingType}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>

  <label>
    My Favorite Spots:
    <textarea name="favoriteSpots" placeholder="Tell us about your favorite spots!" cols="30" rows="10"></textarea>
  </label>

  <button type="submit"> Create </button>
  {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>
