<div class="userEditImg">

<div>
{{#if userInSession}}
  <h1 class="createHeader">Hey {{userInSession.username}}!</h1>
  <p class="createSub">Update Your Profile</p>
{{/if}}
</div>


<form class="createFormContainer" action="/user/profile/edit/{{result.id}}" method="POST">

<div class="mb-3">
 <label for="formGroupInput1" class="form-label">Edit profile image* </label>
    <input
      type="text"
      name="existingImage"
      class="form-control"
      id="formGroupInput1"
      hidden
      value="{{result.imageUrl}}">
    </div>
 
<div class="mb-3">
  <label for="formGroupInput2" class="form-label">Surf Level*</label>
    <select name="surfLevel" class="form-control" id="formGroupInput2">
      {{#each levelSelected}}
        {{#if chosenLevel}}
          <option value={{this.surfLevel}} selected>{{this.surfLevel}}</option>
        {{else}}
          <option value={{this.surfLevel}}>{{this.surfLevel}}</option>
        {{/if}}
      {{/each}}
    </select>
  </div>

 <div class="mb-3">
  <label class="form-label">Type of Surfing*</label>
    <select class="form-select"  aria-label="multiple select example" name="typeOfSurfing" multiple>
      {{#each typeArray}}
        {{#if isChecked}}
          <option value="{{surfType}}" selected>{{surfType}} </option>
        {{else}}
          <option value="{{surfType}}">{{surfType}} </option>
        {{/if}}
      {{/each}}
    </select>
  
  </div>

<div class="mb-3">
  <label label for="formGroupInput3" class="form-label">My Favorite Spots</label>
    <textarea
    class="form-control" 
    id="formGroupInput3"
      name="favoriteSpots"
      placeholder="Tell us about your favorite spots!"
    >{{result.favoriteSpots}}</textarea>
  

  </div>

  <button class="loginBtn" type="submit"> Update My Profile </button>

</form>
</div>
