<div class="profilePage">

  {{!-- <div class="welcomeProfile"> --}}
    {{#if result.surfLevel}}
      <p class="createHeader">Hey {{user.username}}, this is your profile page!</p>
  
    {{else}}
      <br /><p>Still no logged in user, sorry!</p>

    {{/if}}
  {{!-- </div> --}}



  <div class="userDetails">
    <div id="profileImage">
      <img id="postImg" src="{{result.imageUrl}}" alt="User profile picture" />
    </div>

    <div class="profileDetails">
      <p><small>Level: </small><span>{{result.surfLevel}}</span></p>
      <p><small>Type of Surfing: </small> <span>{{result.typeOfSurfing}}</span></p>
      <p><small>Favorite Spots: </small> <span>{{result.favoriteSpots}}</span></p>
      <p class="createdAt text-muted">Created: {{result.createdAt}}</p>
      <p class="createdAt text-muted">Updated: {{result.updatedAt}}</p>
    
      <a href="/user/profile/edit/{{result._id}}"><i class="fa-solid fa-pen-to-square icons"></i></a>
    </div>
  </div>

    <p>My Posts:</p>
    <div class="allSurfSpots">
      {{#each result.surfSpot}}
      <div class="card">
          <img src="{{imageUrl}}"/>
        <div class="card-body ">
          <h6 class="card-title beachNameUser">{{beachName}}</h5>
          
          <div class="editIcons">
            <a href="/surf-spot/profile/edit/{{_id}}"><i class="fa-solid fa-pen-to-square icons" title="Edit"></i></a>
            <form action="/surf-spot/all/delete/{{_id}}" method="POST">
              <button class="icons"><i class="fa-solid fa-trash-can icons" title="Delete"></i></button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>



{{! change to edit icon }}
