<h1>All Surf Spots</h1>

<form action="/surf-spot/all" method="GET">
    <a href="/surf-spot/all">All Spots</a>
    <a href="/surf-spot/all-beginner">Beginner</a>
    <a href="/surf-spot/all-intermediate">Intermediate</a>
    <a href="/surf-spot/all-advanced">Advanced</a>
</form>





<div id="allSurfSpots">

  {{! Image of beach }}
  {{! <img src="" alt=""> }}
{{#each allResults}}
<hr>
<img src="{{imageUrl}}" alt="">
  <p>
    Name of the beach:
    {{beachName}}
  </p>

  <p>
    Country:
    {{country}}
  </p>

  <p>
    Surf Level:
    {{skillLevel}}
  </p>

  {{#if canEdit}}
    <a href="/surf-spot/profile/edit/{{_id}}"><i class="fa-solid fa-pen-to-square icons" title="Edit"></i></a>
    
    <form action="/surf-spot/all/delete/{{_id}}" method="POST">
      <button class="icons"><i class="fa-solid fa-trash-can" title="Delete"></i></i></button>
    </form>
    <hr>
  {{/if}}
  
  {{/each}}

</div>
