<h1>All Surf Spots</h1>

<div id="allSurfSpots">

  {{! Image of beach }}
  {{! <img src="" alt=""> }}
{{#each allResults}}
<hr>
  <p>
    Name of the beach:
    {{beachName}}
  </p>

  <p>
    Country:
    {{country}}
  </p>

  <p>
    Surf Level:
    {{skillLevel}}
  </p>

  <a href="/profile/edit/{{_id}}">Edit</a>
  
  <form action="/all/delete/{{_id}}" method="POST">
    <button>Delete</button>
  </form>
  <hr>
  
  {{/each}}

</div>
