<h1>Create surf spot</h1>

<label>
  {{#if userInSession}}
    <h2>Hey, {{userInSession.username}}!</h2>
    <p>let's surf - tell us your favorite spot</p>
    {{!-- {{else}} --}}

    {{! <br /> }}
    {{! <p>Still no logged in user, sorry!</p> }}
  {{/if}}
</label>

<form action="/surf-spot/create" method="post" enctype="multipart/form-data">

  <label for="">
    Upload image of surf spot
    <input name="beachImage" type="file" multiple/>
  </label>

  <label for="">
    Name of the beach:
    <input name="beachName" type="text" />
  </label>

  <label for="">
    Country:
    <select name="country">
      <option value="" disabled selected>Select a country</option>
      {{#each chooseCountry}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>

  <label for="">
    Google Map Link:
    <input type="text" name="mapLink" />
  </label>

  <label>
    Surf Level:
    <select name="skillLevel">
      <option value="" disabled selected>Select surfing level</option>
      {{#each surfingLevel}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>

  <label for="">
    Surf Spot Description:
    <textarea
      name="spotDescription"
      placeholder="Provide a brief description of your experience at this spot"
      id=""
      cols="30"
      rows="10"
    ></textarea>
  </label>

  <label for="">
    Accessibility:
    <textarea
      name="accessibility"
      placeholder="How do you access this surf spot eg. 30min hike, easy walk from the carpark."
      id=""
      cols="30"
      rows="10"
    ></textarea>
  </label>

  <label for="">
    Amenities:
    <select name="amenities" multiple>
      {{#each facilities}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}

    </select>
  </label>

  <label for="">
    Food:
    <select name="foodSpots" multiple>
      {{#each foodOptions}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}

    </select>
  </label>

  <label for="">
    Rating:
    <select name="rating">
      {{#each ratingScore}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}

    </select>
  </label>

  <label>
    Type of Surfing:
    <select name="typeOfSurfing" multiple>
      {{#each surfingType}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>

  <button type="submit">Create Spot</button>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

</form>
