
<h1>Edit {{result.beachName}}</h1>

{{#if userInSession}}
  <h2>Hey, {{userInSession.username}}!</h2>
  <p>Update your surf spot</p>
  {{!-- {{else}} --}}

  {{! <br /> }}
  {{! <p>Still no logged in user, sorry!</p> }}
{{/if}}

<form
  action="/surf-spot/profile/edit/{{result._id}}"
  method="post"
  enctype="multipart/form-data"
>

  <label>
    Edit image of surf spot:
    <input type="file" name="updatedImage" />
    <input
      type="text"
      name="existingImage"
      hidden
      value="{{result.imageUrl}}"
    />
  </label>

  <label for="">
    Name of the beach:
    <input name="beachName" type="text" value="{{result.beachName}}" />
  </label>

  <label>
    Country:
    <select name="country">
      {{#each countrySelected}}
        {{#if selected}}
          <option value="{{this.country}}" selected>{{this.country}}</option>
        {{else}}
          <option value="{{this.country}}">{{this.country}}</option>
        {{/if}}
      {{/each}}
    </select>
  </label>

  <label for="">
    Google Map Link:
    <input type="text" name="mapLink" value="{{result.mapLink}}" />
  </label>

  <label>
    Surf Level:
    <select name="skillLevel">
      {{#each skillSelected}}

        {{#if chosenSkill}}
          <option
            value={{this.skillLevel}}
            selected
          >{{this.skillLevel}}</option>
        {{else}}
          <option value={{this.skillLevel}}>{{this.skillLevel}}</option>
        {{/if}}

      {{/each}}
    </select>
  </label>

  <label>
    Surf Spot Description:
    <textarea
      name="spotDescription"
      placeholder="Provide a brief description of your experience at this spot"
      id=""
      cols="30"
      rows="10"
    >{{result.spotDescription}}</textarea>
  </label>

  <label>
    Accessibility:
    <textarea
      name="accessibility"
      placeholder="How do you access this surf spot eg. 30min hike, easy walk from the carpark."
      id=""
      cols="30"
      rows="10"
    >{{result.accessibility}}</textarea>
  </label>

  <label>
    Amenities:
    <select name="amenities" multiple>
      {{#each amenitiesArray}}
        {{#if isChecked}}
          <option value={{facilityType}} selected>{{facilityType}}</option>
        {{else}}
          <option value={{facilityType}}>{{facilityType}}</option>
        {{/if}}
      {{/each}}

    </select>
  </label>

  <label>
    Food:
    <select name="foodSpots" multiple>
      {{#each foodArray}}
        {{#if isChecked}}
          <option value={{foodType}} selected>{{foodType}}</option>
        {{else}} 
          <option value={{foodType}} selected>{{foodType}}</option>
        {{/if}}  
      {{/each}}

    </select>
  </label>

  <label>
    Rating:
    <select name="rating">
      {{#each ratingSelected}}
        {{#if chosenRating}}
          <option value="{{this.rating}}" selected>{{this.rating}}</option>
        {{else}}
          <option value="{{this.rating}}">{{this.rating}}</option>
        {{/if}}
      {{/each}}
    </select>
  </label> 

  <label>
    Type of Surfing:
    <select name="typeOfSurfing" multiple>
      {{#each typeArray}}
        {{#if isChecked}}
          <option value="{{surfType}}" selected>{{surfType}} </option>
        {{else}}
          <option value="{{surfType}}">{{surfType}} </option>
        {{/if}}
      {{/each}}
    </select>
  </label>

  <button type="submit">Save changes</button>

</form>
